*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#0f172a,#1e293b,#334155);
    display:flex;
    justify-content:center;
    padding:30px;
    color:white;
}

.container{
    width:100%;
    max-width:900px;
}

.top-card,
.form-card,
.history-card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:25px;
    padding:25px;
    margin-bottom:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.top-card h1{
    text-align:center;
    margin-bottom:20px;
}

.balance-card{
    text-align:center;
    margin-bottom:25px;
}

.balance-card p{
    opacity:.7;
}

.balance-card h2{
    font-size:40px;
    margin-top:10px;
}

.summary{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.income-box,
.expense-box{
    padding:20px;
    border-radius:18px;
    text-align:center;
}

.income-box{
    background:rgba(34,197,94,.2);
}

.expense-box{
    background:rgba(239,68,68,.2);
}

.income-box h3{
    color:#4ade80;
}

.expense-box h3{
    color:#f87171;
}

.form-card h2{
    margin-bottom:20px;
}

form{
    display:grid;
    gap:15px;
}

input,
select{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,0.1);
    color:white;
    outline:none;
}

input::placeholder{
    color:#d1d5db;
}

button{
    padding:15px;
    border:none;
    border-radius:12px;
    background:#3b82f6;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2563eb;
}

.history-card h2{
    margin-bottom:20px;
}

#transactionList{
    list-style:none;
}

.transaction{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    margin-bottom:10px;
    border-radius:12px;
    background:rgba(255,255,255,.08);
}

.transaction-left{
    display:flex;
    flex-direction:column;
}

.transaction-income{
    border-left:5px solid #22c55e;
}

.transaction-expense{
    border-left:5px solid #ef4444;
}

.amount-income{
    color:#4ade80;
    font-weight:600;
}

.amount-expense{
    color:#f87171;
    font-weight:600;
}

.delete-btn{
    background:#ef4444;
    padding:8px 12px;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

.delete-btn:hover{
    background:#dc2626;
}

@media(max-width:600px){

    .summary{
        grid-template-columns:1fr;
    }

    .transaction{
        flex-direction:column;
        gap:10px;
        align-items:flex-start;
    }

}